{% extends "base.html" %}

{% block content %}
<head> <link rel="stylesheet" href="style.css"> </head>
    <h1>✨ Про TechStore</h1>
    <p>Наш проєкт створений командою однодумців, які хочуть допомагати людям з комплектуючими для комп'ютерів.
        TechStore — це команда ентузіастів, яка створена з любові до технологій. Ми спеціалізуємося на надійних та сучасних комп’ютерних комплектуючих, щоб кожен клієнт міг зібрати систему, яка повністю відповідає його цілям — чи це ігри, робота, монтаж, чи професійні задачі.
        <br>
        <b>Ми працюємо за трьома принципами:</b>
    <ul>
        <li>Якість — постачаємо лише перевірені комплектуючі від надійних виробників.</li>
        <li>Чесність — надаємо прозору інформацію без прихованих деталей.</li>
        <li>Підтримка — допомагаємо з вибором, консультуємо, супроводжуємо після покупки.</li>
    </ul>
        <br>
        TechStore — це простір, де технології стають ближчими. Наше завдання — щоб кожен міг зібрати комп’ютер своєї мрії без зайвих труднощів.
    </p>  
    <p style="margin-top: 20px;">Приєднуйтесь до нашої спільноти, <a href="{{ url_for('auth.register') }}">зареєструвавшись</a>, і отримайте доступ до ексклюзивних матеріалів!</p>
{% endblock %}