{% extends "base.html" %}

{% block content %}
<head> <link rel="stylesheet" href="style.css"> 
</head>
    <h1>🌍 Ласкаво просимо у Магазин комп'ютерних комплектуючих! <font color="blue">TechStore</font></h1>
    <p>Наш сайт присвячений найкращим компонентам для збірки вашого ідеального ПК.</p>
    
    <h2 style="margin-top: 50px; padding-left: 30px;">Рекомендація</h2>
    <div style="border-left: 3px solid #0a1931; padding-left: 50px; margin-top: 30px;">
        <p>Рекомендуємо зареєструватись на нашому сайті для отримання швидких новин про нові надходження та ексклюзивних пропозицій!</p>
        <p>Крім того, наш магазин поповнився новими моделями комп'ютерних комплектуючих!</p>
    </div>
    
    <p style="margin-top: 40px;">Щоб дізнатися більше, перейдіть до розділу <a href="{{ url_for('shop.shop_index') }}">
        <span class="btn-shift">
            <span class="glass">
            магазин
            </span>
    </span></a>.</p>
{% endblock %}