{% extends "base.html" %}

{% block content %}
    <h1>Керування Відгуками</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Автор</th>
                <th>Текст</th>
                <th>Дата</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.id }}</td>
                <td>{{ feedback.author }}</td>
                <td>{{ feedback.text }}</td>
                <td>{{ feedback.date_posted.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>
                    <form method="POST" action="{{ url_for('admin.delete_feedback', id=feedback.id) }}">
                        <button type="submit" onclick="return confirm('Ви впевнені, що хочете видалити цей відгук?')" style="background-color: #cc0000; padding: 5px 10px;">Видалити</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}