{% extends "base.html" %}

{% block content %}
    <h1>Керування Замовленнями</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Дата</th>
                <th>Користувач (ID)</th>
                <th>Статус</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.order_date.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ order.user_id if order.user_id else 'Гість' }}</td>
                <td>
                    <form method="POST" action="{{ url_for('admin.update_order_status', id=order.id) }}" style="display: flex;">
                        <select name="status">
                            {% for status in statuses %}
                            <option value="{{ status }}" {% if order.status == status %}selected{% endif %}>{{ status }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" style="background-color: #28a745; margin-left: 5px; padding: 5px 10px;">Оновити</button>
                    </form>
                </td>
                <td>
                    <a href="{{ url_for('admin.order_details', id=order.id) }}" style="background-color: #007bff; color: white; padding: 5px 10px; border-radius: 4px; text-decoration: none;">Деталі</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}